<div class="mat-elevation-z4">
    <table mat-table [dataSource]="products">
        <!-- Id Column -->
        <ng-container matColumnDef="id">>
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
        <ng-container matColumnDef="foto">>
            <th mat-header-cell *matHeaderCellDef>Foto</th>
            <td mat-cell *matCellDef="let row">
                <img src="../../../../assets/images/Animals/{{ row.race }}.jpg" alt="">
            </td>
        </ng-container>

        <!-- Specie Column -->
        <ng-container matColumnDef="specie">
            <th mat-header-cell *matHeaderCellDef> Especie </th>
            <td mat-cell *matCellDef="let row">{{ row.specie }}</td>
        </ng-container>

        <!-- District Column -->
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef> Bairro </th>
            <td mat-cell *matCellDef="let row">{{ row.district }}</td>
        </ng-container>

        <!-- Race Column -->
        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef> Raça </th>
            <td mat-cell *matCellDef="let row">{{ row.race }}</td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Idade </th>
            <td mat-cell *matCellDef="let row">{{ row.age }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/products/update/{{ row.id }}" class="edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a routerLink="/products/delete/{{ row.id }}" class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>