<app-seleton-loader *ngIf=!loaded Cwidth="100%" Cheight="100%"></app-seleton-loader>

<mat-card *ngIf=loaded>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" disabled
            [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Especie" disabled
            [(ngModel)]="product.specie" name="specie">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" disabled
            [(ngModel)]="product.district" name="district">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" disabled
            [(ngModel)]="product.race" name="race">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" disabled
            [(ngModel)]="product.age" name="age">
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()" c>
        Cancelar
    </button>
</mat-card>